<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2" align="center" width="50%">
        <form method="post" enctype="multipart/form-data">
            {%csrf_token%}
            {{form.as_table}}
            <tr>
                <td><input type="submit" value="Create"></td>
                <td><input type="reset" value="Clear"></td>
            </tr>
        </form>
    </table>
    <h2>{{msg}}</h2>
</body>
</html>