{%extends 'app_base.html'%}
{%block content%}
<div class="container-fluid w-100 p-3">
<table class="table text-bg-secondary table-hover text-white">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Date of Birth</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {%for cust in customer%}
    <tr>
        <td>{{cust.name}}</td>
        <td>{{cust.email}}</td>
        <td>{{cust.phone_number}}</td>
        <td>{{cust.date_of_birth}}</td>
        <td><a href="/cust_edit/{{cust.cust_id}}/" class="btn btn-primary">Edit</a></td>
        <td><a href="/cust_delete/{{cust.cust_id}}/" class="btn btn-outline-danger">Delete</a></td>
    </tr>
    {%endfor%}
    </tbody>
</table>
</div>
{%endblock content%}