<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table align="center" border="2" width="100%">
        <tr>
            <td>Roll Number:</td>
            <td>{{stud.rno}}</td>
        </tr>
        <tr>
            <td>Subject1 Marks:</td>
            <td>{{stud.sub1}}</td>
        </tr>
        <tr>
            <td>Subject2 Marks:</td>
            <td>{{stud.sub2}}</td>
        </tr>
        <tr>
            <td>Total Marks:</td>
            <td>{{stud.total}}</td>
        </tr>
        <tr>
            <td>Average Marks:</td>
            <td>{{stud.avg}}</td>
        </tr>
        <tr>
            <td>Result:</td>
            <td>{{stud.result}}</td>
        </tr>
    </table>
</body>
</html>