<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table width="50%" align="center" border="2">
        <form action="/calc">
            <tr>
                <td>Number</td>
                <td><input type="text" name="t1"></td>
            </tr>
            <tr>
                <td>Number</td>
                <td><input type="text" name="t2"></td>
            </tr>
            <tr>
                <td><input type="submit" value="ADD"/></td>
            </tr>
        </form>
    </table>
</body>
</html>