<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2" width="50%" align="center" style="margin-top: 50px;">
        <tr>
            <td>Employee Number</td>
            <td>{{emp.empno}}</td>
        </tr>
        <tr>
            <td>Employee Name</td>
            <td>{{emp.ename}}</td>
        </tr>
        <tr>
            <td>Employee JOB</td>
            <td>{{emp.job}}</td>
        </tr>
        <tr>
            <td>Employee Salary</td>
            <td>{{emp.sal}}</td>
        </tr>
    </table>
</body>
</html>