<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2" width="50%" align="center">
        <form method="post">
            {%csrf_token%}
            {{form.as_table}}
            <tr>
                <td><input type="submit" value="update"></td>
                <td><input type="reset" value="clear"></td>
            </tr>
        </form>
    </table>
</body>
</html>