<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 style="margin-left: 180px;">Student result</h2>
    <table border="2" width=80% align="center">
        <tr>
            <td>rollnumber</td>
            <td>{{rno}}</td>
        </tr>
        <tr>
            <td>name</td>
            <td>{{stud.0}}</td>
        </tr>
        <tr>
            <td>sub1</td>
            <td>{{stud.1}}</td>
        </tr>
        <tr>
            <td>sub2</td>
            <td>{{stud.2}}</td>
        </tr>
        <tr>
            <td>result</td>
            <td>{{result}}</td>
        </tr>
    </table>
</body>
</html>